.btn-primary{

    background:var(--primary);

    color:#fff;

    padding:14px 28px;

    border-radius:50px;

    font-weight:700;

    transition:.3s;

}

.btn-primary:hover{

    background:var(--primary-dark);

}
